@model CmsCoreV2.Models.ProductTag
@{
    ViewData["Title"] = "Ürün Etiketi Düzenle";
}

<h2>Ürün Etiketi Düzenle</h2>
<form asp-action="Edit" asp-controller="ProductTags" method="post" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Name" class="control-label"></label>
        </div>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Slug" class="control-label"></label>
        </div>
        <div class="col-md-10">
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Description" class="control-label"></label>
        </div>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-10">
            <input type="submit" name="submit" value="Kaydet" />
        </div>
    </div>
</form>