@model CmsCoreV2.Models.TaxRate

@{
    ViewData["Title"] = "Create";
}

<h2>Yeni Vergi Oranı</h2>
<form asp-controller="TaxRates" asp-action="Create" method="post" enctype="multipart/form-data">
   
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaxClass" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="TaxClass" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(TaxClass))">
                        <option>Seçiniz</option>
                    </select>
                    <span asp-validation-for="TaxClass" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CountryCode" class="form-control" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CityPlateCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CityPlateCode" class="form-control" type="text" />
                    <span asp-validation-for="CityPlateCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId">
                        <option value="">Seçiniz</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Rate" class="form-control" value="0" type="number" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TaxName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TaxName" class="form-control" />
                    <span asp-validation-for="TaxName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TaxRatePriority" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TaxRatePriority" class="form-control" value="1" />
                    <span asp-validation-for="TaxRatePriority" class="text-danger">

                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="TaxRateCompound" />
                        <label asp-for="TaxRateCompound"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="TaxRateShipping" />
                        <label asp-for="TaxRateShipping"></label>
                    </div>
                </div>
            </div>
          

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
    </div>

