@{
    ViewData["Title"] = "Erişim Engellendi";
}
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section section-padding contact-main">
                    <div class="container">
    <h1 class="text-danger">Erişim Engellendi.</h1>
    <p class="text-danger">Bu kaynağa erişim yetkiniz yok.</p>
</div>
</div>
</div>
</div>
</div>
</div>
