@model CmsCoreV2.Models.PaymentMethod

@{
    ViewData["Title"] = "Düzenle";
}

<h2>Düzenle</h2>

<h4>Ödeme Yöntemi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enable" /> @Html.DisplayNameFor(model => model.Enable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiUrl" class="control-label"></label>
                <input asp-for="ApiUrl" class="form-control" />
                <span asp-validation-for="ApiUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiUserName" class="control-label"></label>
                <input asp-for="ApiUserName" class="form-control" />
                <span asp-validation-for="ApiUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiPassword" class="control-label"></label>
                <input asp-for="ApiPassword" class="form-control" />
                <span asp-validation-for="ApiPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input readonly asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input readonly asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input readonly asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input readonly asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppTenantId" class="control-label"></label>
                <input readonly asp-for="AppTenantId" class="form-control" />
                <span asp-validation-for="AppTenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
