@model PageViewModel
@inject CustomLocalizer Localizer

@{
    ViewData["Title"] = Model.SeoTitle;
}
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section section-padding contact-main">
                    <div class="container">
                        <div class="contact-main-wrapper">
                            <div class="row contact-method">
                                <ul style="list-style-type: none;margin: 0; padding: 0; overflow: hidden;">
                                    <li style="float: left;">
                                        <h1 class="event-detail-title">@Model.Title</h1>
                                    </li>
                                    <li>
                                        <img class="img-responsive"
                                        src="~/uploads/Loading.gif"  style="float:right; height:50px; margin-top:5px; padding-bottom:5px; " />
                                    </li>
                                  </ul>

                                
                                             
                                @Html.Raw(Model.Body)
                                @if (!String.IsNullOrEmpty(Model.Meta1)) { 
                                    @await Component.InvokeAsync("EmbedForm", new { name=Localizer[Model.Meta1].ToString(), template="JobApplicationForm" })
                                }</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
</div>