@inject CustomLocalizer Localizer
@inject AppTenant Tenant

@await Component.InvokeAsync("Slider", new { Name = "Anasayfa Slider" })
<!-- SUMMER SALE -->
<section class="section-pattern p-t-60 p-b-30 text-center" style="background:url(~/poloshop3/imagespattern/pattern22.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-left">
                <h2 class="text-medium">Yaz Satışı</h2>
                <p>₺60'den fazla sipariş verin, ücretsiz kargo fırsatından yararlanın. <a href="#" class="read-more">Daha Fazla Bilgi</a></p>
            </div>
            <div class="col-md-7">
                <div class="countdown medium" data-countdown="2018/03/19 11:34:51" data-animation="fadeInUp"></div>
            </div>
        </div>
    </div>
</section>
<!-- end: SUMMER SALE -->
<!-- Shop products -->
@await Component.InvokeAsync("FeaturedProducts", new { categoryNames = "", count = 4 })
<!-- end: Shop products -->
<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>₺60 üstü siparişlerde ücretsiz kargo</h3>
                    <p>₺60'den fazla sipariş verin ücretsiz kargo fırsatından yararlanın.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Türkiye çapında teslimat</h3>
                    <p>Türkiye'nin tüm şehirlerine teslimat yapıyoruz.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 gün para iade garantisi!</h3>
                    <p>Ürünümüzle mutlu olmazsanız, bize ücretsiz geri gönderin, paranızı %100 iade edeceğiz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: DELIVERY INFO -->
<!-- SHOP WIDGET PRODUTCS -->
@await Component.InvokeAsync("ListProducts", new { categoryNames = "Ürünler", count = 4, title = "Ürünler" })
@await Component.InvokeAsync("ListProducts", new { categoryNames = "Promosyonlar", count = 4, title = "Promosyonlar" })
<!-- end: SHOP WIDGET PRODUTCS -->
<!-- end: SHOP CATEGORIES -->
@*<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hr-title hr-long center"><abbr>Browser our categories </abbr> </div>

                </div>
            </div>

            <div class="shop-category">
                <div class="row">
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="#">
                                <img alt="" src="~/poloshop3/imagesshop/shop-category/1.jpg">
                                <div class="shop-category-box-title text-center">
                                    <h6>Women</h6><small>64 products</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="#">
                                <img alt="" src="~/poloshop3/imagesshop/shop-category/2.jpg">
                                <div class="shop-category-box-title text-center">
                                    <h6>Wallet's</h6><small>36 products</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="#">
                                <img alt="" src="~/poloshop3/imagesshop/shop-category/3.jpg">
                                <div class="shop-category-box-title text-center">
                                    <h6>Man</h6><small>25 products</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="#">
                                <img alt="" src="~/poloshop3/imagesshop/shop-category/4.jpg">
                                <div class="shop-category-box-title text-center">
                                    <h6>Socks</h6><small>80 products</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- end: SHOP CATEGORIES -->