CustomLocalizer Localizer
@model PageViewModel
@inject AppTenant Tenant
@Html.Raw(Model.HeaderScript)
<section class="p-b-10" style="padding-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-item-description">
                    <h2 class="h2">@Model.Title</h2>
                    <div class="post-meta">
                        <div class="event-detail-des">
                            <div class="event-detail-des-content">
                                <div class="more">@Html.Raw(Model.Body)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("MyOrder")