@inject CustomLocalizer Localizer
@model PageViewModel
@{
    ViewData["Title"] = "Blog";
}

<section id="page-content">
    <div class="container">
        <!-- post content -->
        <!-- Page title -->
        <div class="page-title">
            <h1>@Model.Title</h1>
            <div class="breadcrumb float-left">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li class="active">
                        <a href="#">Three Columns</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Page title -->
        <!-- Blog -->
     
            @await Component.InvokeAsync("Posts", new { pageSize = 3 })
      
        </div>     
</section>

