
@await Component.InvokeAsync("Slider", new { Name = "Anasayfa Slider" })

<!-- SERVICES -->
<section class="p-t-100">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plug"></i></a>
                    </div>
                    <h3>Powerful template</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-desktop"></i></a>
                    </div>
                    <h3>Flexible Layouts</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-trophy"></i></a>
                    </div>
                    <h3>Unlimited Colors</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                    </div>
                    <h3>Premium Sliders</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SERVICES -->
<!-- CALL TO ACTION -->
<section class="row background-grey text-center">
    <div class="container">
        <h3>DO YOU LIKE WHAT YOU SEE</h3> <a href="#" class="btn"><span>Buy POLO</span></a>
    </div>
</section>
<!-- CALL TO ACTION -->
<!-- PORTFOLIO -->
<section class="p-b-0">
    <div class="container">
        <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="40">

            <!-- portfolio item -->
            <div class="portfolio-item no-overlay pf-illustrations pf-media pf-icons pf-Media pf-graphics">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-slider">
                        <div class="carousel dots-inside dots-dark arrows-dark" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay-timeout="1500">
                            <a href="#"><img src="/polocorporate5/images/portfolio/64.jpg" alt=""></a>
                            <a href="#"><img src="/polocorporate5/images/portfolio/70.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-uielements pf-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/60.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description"> <a title="Paper Pouch!" data-lightbox="image" href="/polocorporate5/images/portfolio/83l.jpg"><i class="fa fa-expand"></i></a> <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a> </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/61.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-uielements pf-graphics">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/65.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description" data-lightbox="gallery">
                        <a title="Photoshop Mock-up!" data-lightbox="gallery-item" href="/polocorporate5/images/portfolio/80l.jpg"><i class="fa fa-clone"></i></a>
                        <a title="Paper Pouch!" data-lightbox="gallery-item" href="/polocorporate5/images/portfolio/81l.jpg" class="hidden"></a>
                        <a title="Mock-up" data-lightbox="gallery-item" href="/polocorporate5/images/portfolio/82l.jpg" class="hidden"></a> <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-uielements pf-media pf-icons pf-uielements pf-graphics">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/66.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Last Iceland Sunshine</h3>
                            <span>Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-uielements pf-graphics">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/67.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description"> <a title="Paper Pouch!" data-lightbox="iframe" href="https://www.youtube.com/watch?v=k6Kly58LYzY"><i class="fa fa-play"></i></a> <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a> </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item no-overlay pf-illustrations pf-media pf-icons pf-Media pf-uielements pf-graphics">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-slider">
                        <div class="carousel dots-inside dots-dark arrows-dark" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay-timeout="1500">
                            <a href="#"><img src="/polocorporate5/images/portfolio/68.jpg" alt=""></a>
                            <a href="#"><img src="/polocorporate5/images/portfolio/71.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-uielements pf-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/69.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Luxury Wine</h3>
                            <span>Graphics / Branding</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item img-zoom pf-illustrations pf-uielements pf-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="/polocorporate5/images/portfolio/70.jpg" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Luxury Wine</h3>
                            <span>Graphics / Branding</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
        </div>
    </div>
</section>
<!-- end: PORTFOLIO -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>OUR CLIENTS</h2>
            <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/6.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/7.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/8.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/9.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/10.png" alt="">
                </a>
            </li>
        </ul>

    </div>
</section>
<!-- CLIENTS -->
