@inject CustomLocalizer Localizer
@inject AppTenant Tenant



<a href="javascript:;" class="openbtn">
    <img src="~/polocorporate5/images/form_kapali.png" />
</a>
<div class="call">
    <div class="callform">
        <a href="javascript:;" class="closebtn">
            <img src="~/polocorporate5/images/closeform.png" alt="..." />
        </a>
        <div class="form-bg">
            <h3 class="text-center form-title">Sizi Arayalım</h3>
            @await Component.InvokeAsync("EmbedForm", new { name = "İletişim", template = "FixForm" })
        </div>
    </div>
</div>



@await Component.InvokeAsync("Slider", new { Name = "Anasayfa Slider" })

<!-- " https://codepen.io/vzajcic/pen/awLGwO?editors=0010#0 "-->

<!-- SERVICES -->
<section class="p-t-100" >
    <div class="container">
        <div class="row" style="text-align:center;">
            <div class="col-md-3">
                <div class="center">
                    <div class="icon">
                       <img src="~/polocorporate5/images/services/online_basvuru_v1.png">
                    </div>
                    <a href="#"><h4>Online Başvuru</h4></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class=" center">
                    <div class="icon">
                        <img src="~/polocorporate5/images/services/kurumsal_basvuru_v1.png">
                    </div>
                    <a href="#"><h4>Kurumsal Başvuru</h4></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="center">
                    <div class="icon">
                        <img src="~/polocorporate5/images/services/belge_sorgulama.png">
                    </div>
                    <a href="#"><h4>Belge Sorgulama</h4></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class=" center">
                    <div class="icon">
                        <img src="~/polocorporate5/images/services/sınav_sonuclari_v1.png">
                    </div>
                    <a href="#"><h4>Sınav Sonuçları</h4></a>
                </div>
            </div>

   
        </div>
    </div>
</section>
<!-- end: SERVICES -->
<!-- CALL TO ACTION -->
<section class="row background-grey text-center">
    <div class="container">
        <h3>DO YOU LIKE WHAT YOU SEE</h3> <a href="#" class="btn"><span>Buy POLO</span></a>
    </div>
</section>
<!-- CALL TO ACTION -->
<!-- PORTFOLIO -->
@await Component.InvokeAsync("Gallery", new { Name = @Localizer["Anasayfa Galeri"].ToString() })
<!-- end: PORTFOLIO -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>OUR CLIENTS</h2>
            <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/6.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/7.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/8.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/9.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/10.png" alt="">
                </a>
            </li>
        </ul>

    </div>
</section>
<!-- CLIENTS -->
