@inject CustomLocalizer Localizer
@inject AppTenant Tenant

@await Component.InvokeAsync("Slider", new { Name = "Anasayfa Slider" })

<!-- SERVICES -->
<section class="p-t-100">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plug"></i></a>
                    </div>
                    <h3>Powerful template</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-desktop"></i></a>
                    </div>
                    <h3>Flexible Layouts</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-trophy"></i></a>
                    </div>
                    <h3>Unlimited Colors</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                    </div>
                    <h3>Premium Sliders</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect medium color border center">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SERVICES -->
<!-- CALL TO ACTION -->
<section class="row background-grey text-center">
    <div class="container">
        <h3>DO YOU LIKE WHAT YOU SEE</h3> <a href="#" class="btn"><span>Buy POLO</span></a>
    </div>
</section>
<!-- CALL TO ACTION -->
<!-- PORTFOLIO -->
@await Component.InvokeAsync("Gallery", new { Name = @Localizer["Anasayfa Galeri"].ToString() })
<!-- end: PORTFOLIO -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>OUR CLIENTS</h2>
            <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/6.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/7.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/8.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/9.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/polocorporate5/images/clients/10.png" alt="">
                </a>
            </li>
        </ul>

    </div>
</section>
<!-- CLIENTS -->
