@model CmsCoreV3.Models.Region

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Region</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegionType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionType" class="form-control">
                    <option value="">Bölge tipi seciniz!</option>
                    <option value="1">Ülke</option>
                    <option value="2">Şehir</option>
                    <option value="3">İlçe</option>
                </select>
                <span asp-validation-for="RegionType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentRegionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParentRegionId" class="form-control">
                    <option value="">Şehir ve İlçe için üst bölge seciniz!</option>
                    @Html.Raw(ViewBag.ParentRegion)
                </select>
            </div>
        </div>

       

        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

