@model CmsCoreV3.Models.Coupon

@{
    ViewData["Title"] = "Kupon Düzenle";
}
<link href="/metronic/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/metronic/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<h2>Kupon Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Kupon</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LimitPerCoupon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LimitPerCoupon" class="form-control" />
                <span asp-validation-for="LimitPerCoupon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LimitUse" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LimitUse" class="form-control" />
                <span asp-validation-for="LimitUse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LimitPerUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LimitPerUser" class="form-control" />
                <span asp-validation-for="LimitPerUser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiscountType" class="col-md-2 control-label">İndirim Türü</label>
            <div class="col-md-10">
                <select asp-for="DiscountType" class="form-control">
                    <option>Seçiniz..</option>
                    <option value="1">İndirim Yüzdesi</option>
                    <option value="2">Sabit Sepet İndirimi</option>
                    <option value="3">Sabit Ürün İndirimi</option>
                </select>
                <span asp-validation-for="DiscountType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CouponCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CouponCode" class="form-control" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CouponAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CouponAmount" class="form-control" />
                <span asp-validation-for="CouponAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="AllowFreeShipping" />
                    <label asp-for="AllowFreeShipping"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinimumSpending" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinimumSpending" class="form-control" />
                <span asp-validation-for="MinimumSpending" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaximumSpending" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaximumSpending" class="form-control" />
                <span asp-validation-for="MaximumSpending" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="OnlyIndividualUse" />
                    <label asp-for="OnlyIndividualUse"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ExcludeDiscountProduct" />
                    <label asp-for="ExcludeDiscountProduct"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RestrictedEmails" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RestrictedEmails" class="form-control" />
                <span asp-validation-for="RestrictedEmails" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="couponProductId" class="col-md-2 control-label">Kupon Ürünleri</label>
            <div class="col-md-10">
                <select id="couponProductId" name="CouponProductId[]" class="form-control select2-multiple" multiple asp-items="@ViewBag.Products">
                </select>                
            </div>
        </div>
        <div class="form-group">
            <label for="excludeCouponProductId" class="col-md-2 control-label">Hariç Tutulan Kupon Ürünleri</label>
            <div class="col-md-10">
                <select id="excludeCouponProductId" name="ExcludeCouponProductId[]" class="form-control select2-multiple" multiple asp-items="@ViewBag.Products2">
                </select>                
            </div>
        </div>
        <div class="form-group">
            <label for="couponCategoryId" class="col-md-2 control-label">Kupon Kategorileri</label>
            <div class="col-md-10">
                <select id="couponCategoryId" name="CouponCategoryId[]" class="form-control select2-multiple" multiple asp-items="@ViewBag.ProductCategories">
                </select>                
            </div>
        </div>
        <div class="form-group">
            <label for="excludeCouponCategoryId" class="col-md-2 control-label">Hariç Tutulan Kupon Kategorileri</label>
            <div class="col-md-10">
                <select id="excludeCouponCategoryId" name="ExcludeCouponCategoryId[]" class="form-control select2-multiple" multiple asp-items="@ViewBag.ProductCategories2">
                </select>                
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" readonly/>
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" readonly />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" class="form-control" readonly />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" class="form-control" readonly />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye geri dön!</a>
</div>

@section scripts {
<script src="/metronic/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/metronic/pages/scripts/components-select2.min.js" type="text/javascript"></script>
}