@model IEnumerable<Post>
@inject AppTenant Tenant
<div class="widget">
    <h4>Blog'umuzdan Yazılar</h4>
    @foreach (var item in Model)
    {
        <div class="post-thumbnail-list">
            <div class="post-thumbnail-entry">

                <div class="post-thumbnail-content">
                    <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug">@(item.Title)</a>
                    @if (item.PublishDate != null)
    {
                <span class="post-date"><i class="fa fa-clock-o"></i> @item.PublishDate</span>
}
                    @if (item.PostPostCategories.FirstOrDefault() != null)
    {
                <span class="post-category"><i class="fa fa-tag"></i>@item.PostPostCategories.FirstOrDefault().PostCategory</span>
}
                </div>
            </div>

        </div>
    }
</div>