@model RegisterViewModel
@{
    ViewData["Title"] = "Kaydol";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <script>
        window.onload = function() {
            LoadOptions($("#City"), $("#Country").val(), "/Home/GetCities", "Şehir seçiniz", function() {$("#City").val("@Model.City"); LoadOptions($("#County"),$("#City").val(),"/Home/GetCounties","İlçe seçiniz", function() {$("#County").val("@Model.County");});});
            // LoadOptions($("#DeliveryCity"), $("#DeliveryCountry").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#DeliveryCounty"),$("#DeliveryCity").val(),"/Home/GetCounties","İlçe seçiniz",function() {});});
        }

        function LoadOptions(elm, parentId, url, defaultOption,done) {
            
            elm.empty();
            $.post(url,{parentId:parentId},function(result) {
                    elm.append('<option value="">' + defaultOption + '</option>');
                    $.each(result, function(i, item) {
                        elm.append('<option value="'+item.code+'">'+item.name+'</option>');
                        done();
                    });
            });
           
            
        }
        </script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 center no-padding">
                    <div class="col-md-12">
                        <h3>Yeni Bir Hesap Oluşturun</h3>
                        <p>Aşağıdaki bilgileri doldururak yeni bir hesap oluşturun. Eğer daha önce üye olduysanız sayfanın üst kısımdan giriş yapın.</p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="FirstName">Ad</label>
                        <input type="text" class="form-control input-lg" placeholder="Ad" asp-for="FirstName">
                    </div><div class="col-md-6 form-group">
                        <label class="sr-only">Soyad</label>
                        <input type="text" class="form-control input-lg" placeholder="Soyad" asp-for="LastName">
                    </div>                    
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Country">Ülke</label>
                        <select asp-for="Country" asp-items="@ViewBag.Countries" onchange='LoadOptions($("#City"), $("#Country").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#County"),$("#City").val(),"/Home/GetCounties","İlçe seçiniz",function() {});});'>
                        <option value="">Ülke seçiniz</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="City">Şehir</label>
                        <select asp-for="City" onchange="LoadOptions($('#County'),$('#City').val(),'/Home/GetCounties','İlçe seçiniz',function() {});">
                            <option value="">Şehir seçiniz</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="County">İlçe</label>
                        <select asp-for="County">
                            <option value="">İlçe seçiniz</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Street">Cadde/Sokak</label>
                        <input type="text" class="form-control input-lg" placeholder="Cadde/Sokak" asp-for="Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Address">Adres</label>
                        <input type="text" class="form-control input-lg" placeholder="Adres" asp-for="Address">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="ZipCode">Posta Kodu</label>
                        <input type="text" class="form-control input-lg" placeholder="Posta Kodu" asp-for="ZipCode">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Phone">Telefon</label>
                        <input type="text" class="form-control input-lg" placeholder="Telefon" asp-for="Phone">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Email">E-posta</label>
                        <input type="text" class="form-control input-lg" placeholder="E-posta" asp-for="Email">
                    </div><div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="Password">Parola</label>
                        <input type="password" class="form-control input-lg" placeholder="Parola" asp-for="Password">

                    </div>
                    <div class="col-md-6 form-group">
                        <label class="sr-only" asp-for="ConfirmPassword">Parola (Tekrar)</label>
                        <input type="password" class="form-control input-lg" placeholder="Parola (Tekrar)" asp-for="ConfirmPassword">

                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-default">Yeni Hesap Oluştur</button><a class="btn btn-danger m-l-10" href="/">İptal</a>

                    </div>

                </div>

            </div>
        </div>
    </section>
</form>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
