@model CmsCoreV2.Models.Form
@inject CustomLocalizer Localizer
@addTagHelper "CmsCoreV2.Helpers.FormFieldHelper, CmsCoreV2"
<script src='https://www.google.com/recaptcha/api.js'></script>
<form action="/Home/PostForm" method="post" id="MiddleSchoolForm">
    @if (Model != null && Model.Id > 0)
    {
        <fieldset>
            <input type="hidden" value="@Model.Id" name="FormId" />
            @foreach (FormField item in Model.FormFields)
            {

                @if (item.Required)
                {
                    <formField form-field="item" required="true" css-class="form-select style-1" read_only="false" show-placeholder="true" />
                    @Html.ValidationMessage(item.Name, "", new { @class = "text-danger" })

                }
                else
                {
                    <formField form-field="item" read_only="false" show-placeholder="true" />

                }
            }
            <div class="contact-submit">
                <button type="submit"  class="btn btn-green"><span>@Localizer["Gönder"]</span></button>
            </div>
        </fieldset>
    }
    else
    {
        <p>@Localizer["Form bulunamadı!"]</p>
    }



</form>

<script>
    function onContactFormSubmit() {
        document.getElementById("MiddleSchoolForm").submit();
    }
</script>