@model CmsCoreV3.Models.ProductCategory

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/generate-slug.js"> </script>

<h2>Ürün Kategorisi Oluştur</h2>

<form asp-action="Create">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Name" class="form-control" tabindex="1" autofocus="autofocus" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Slug" class="form-control" tabindex="2" autofocus="autofocus" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span class="text-danger" asp-validation-for="Slug"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentCategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParentCategoryId" class="form-control" >
                    <option value="">Seçiniz..</option>
                    @Html.Raw(ViewBag.ParentCategoryOptions)
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
                <label asp-for="SmallImage" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SmallImage" class="form-control" />
                    <span asp-validation-for="SmallImage" class="text-danger"></span>
                </div>
            </div>*@

        <div class="form-group">
            <label asp-for="SmallImage" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.SmallImage)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="SmallImage" class="form-control" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="uploadModal" type="button" onclick="browseMedia('SmallImage')">...</a>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.SmallImage, "", new { @class = "text-danger" })
        </div>
                <input asp-for="CreateDate" type="hidden" />
                <input asp-for="CreatedBy" type="hidden" />
                <input asp-for="UpdateDate" type="hidden" />
                <input asp-for="UpdatedBy" type="hidden" />
                <input asp-for="AppTenantId" type="hidden" />
                
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "SmallImage" } })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
