<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CmsCoreV2.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
	<environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
	</aspNetCore>

  </system.webServer>
</configuration>
<!--ProjectGuid: e95dc862-14f1-4ea3-929d-9752536c54ed-->