@model IEnumerable<Page>
@inject AppTenant Tenant
@foreach (var item in Model)
{
    
        <li>
            <div><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@Html.Raw(item.Slug)" class="link title">@(item.Title)</a></div>
        </li>

}