@model IEnumerable<Page>
@inject AppTenant Tenant
@foreach (var item in Model)
{
    
        <li class="relatedPage @(item.Meta3)" @Html.Raw(ViewBag.CurrentPageId==item.Id?"style=\"background-color: #1b81c4 !important;\"":"")>
            <div><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@Html.Raw(item.Slug)" class="link title " style="color:#202a68 !important;">@(item.Title)</a></div>
        </li>

}