@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@inject CustomLocalizer Localizer
@inject AppTenant Tenant
@model PostViewModel



<section id="page-title" class="page-title-center" data-parallax-image="images/parallax/5.jpg">
    <div class="container">
        <div class="page-title">
            <h1>Search result page</h1>
        </div>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Search result page</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="widget">
        <div id="tabs-01" class="tabs simple">
            <ul class="tabs-navigation">
                <li class="active"><a href="#tab1">Popüler Yazılar  </a> </li>
                <li class=""><a href="#tab2">Son Yazılar </a> </li>
            </ul>
            <div class="tabs-content">
                <div class="tab-pane active" id="tab1">
                    <div class="post-thumbnail-list">

                        @await Component.InvokeAsync("PopularPosts", new { total = 4, id = Model.Id })

                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="post-thumbnail-list">

                        @await Component.InvokeAsync("LatestsPostsWidget", new { count = 4, id = Model.Id })

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end: Page title -->
