@model CmsCoreV3.Models.Order

@{
    ViewData["Title"] = "Sipariş Oluştur";
}

<h2>Sipariş Oluştur</h2>

<form asp-action="Create">
    <div class="form-horizontal">
    
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OrderStatus" class="form-control">
                    <option>Seçiniz..</option>
                    <option value="1">Ödeme Bekleniyor</option>
                    <option value="2">İşleniyor</option>
                    <option value="3">Beklemede</option>
                    <option value="4">Tamamlandı</option>
                    <option value="5">İptal Edildi</option>
                    <option value="5">İade Edildi</option>
                    <option value="5">Başarısız</option>

                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
        </div>
      
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentMethodId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PaymentMethodId" class ="form-control" asp-items="ViewBag.PaymentMethodId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerNote" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerNote" class="form-control" />
                <span asp-validation-for="CustomerNote" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderDate" readonly class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" readonly class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" readonly class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" readonly class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" readonly class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AppTenantId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AppTenantId" readonly class="form-control" />
                <span asp-validation-for="AppTenantId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
